# node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tooling / OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# env
.env
.env.*

# app runtime / local state
user_data/
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-16.png
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-32.png
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-48.png
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-64.png
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-128.png
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-256.png
dist-icons/StagePilot_Icon_StageLayout_CurrentColor/png/StagePilot_Icon_StageLayout_CurrentColor-512.png
